Package: com.futur3sn0w.ccaster
Icon: https://futur3sn0w.github.io/repo/icons/com.futur3sn0w.ccaster.png
SileoDepiction: https://futur3sn0w.github.io/repo/depictions/com.futur3sn0w.ccaster.json
Name: CCAster
Version: 0.2.2
Architecture: iphoneos-arm64
Description: An iOS 18-inspired, editable Control Center experience for iOS 16.
Maintainer: futur3sn0w
Author: futur3sn0w
Section: Tweaks
Depends: firmware (>= 15.0), firmware (<< 17.0), ellekit, preferenceloader
